html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #00ff66;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 18px;
}

body {
  width: 40em;
  margin: 0 auto;
}

a {
  color: inherit;
}

pre {
  margin: 0;
}
